<div class="todo-list">
  <div class="todo-item" *ngFor="let todo of todos; index as i" (click)="input.focus()" #wrapper
    [class.todo-item--active]="index == i">

    <input class="todo-item__checkbox" type="checkbox" [ngModel]="todo.isDone" (click)="$event.stopPropagation();"
      (ngModelChange)="onChange(i,$event)">

    <input type="text" class="todo-item__input" [ngModel]="todo.name" #input (focus)="index = i"
      [class.todo-item__input--done]="todo.isDone" (ngModelChange)="onNameChange(i,input.value)">

    <button class="todo-item__delete" (click)="onDelete($event, i)">X</button>

  </div>
</div>
